h1 {
    color: rgb(0, 0, 0);
}

* {
    border: solid;
}
.header{
    background-color: rgb(253, 0, 97);
    display:flex;
    justify-content:space-between;
}
.grid{display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
    
}
body{
    background-color: #808080
}
